<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Fanbbs.dao.ReportDao">

    <resultMap id="BaseResultMap" type="com.Fanbbs.entity.Report">
        <result column="id" property="id" />
        <result column="ticket" property="ticket" />
        <result column="type" property="type" />
        <result column="informant" property="informant" />
        <result column="reported" property="reported" />
        <result column="article_id" property="article_id" />
        <result column="reason" property="reason" />
        <result column="flag" property="flag" />
        <result column="receipt" property="receipt" />
        <result column="processed" property="processed" />
        <result column="created" property="created" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`
        ,
        `ticket`,
        `type`,
        `informant`,
        `reported`,
        `article_id`,
        `reason`,
        `flag`,
        `receipt`,
        `processed`,
        `created`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.Fanbbs.entity.Report">
        INSERT INTO ${prefix}_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test='id != null'>
                `id`,
            </if>
            <if test='ticket != null'>
                `ticket`,
            </if>
            <if test='type != null'>
                `type`,
            </if>
            <if test='informant != null'>
                `informant`,
            </if>
            <if test='reported != null'>
                `reported`,
            </if>
            <if test='article_id != null'>
                `article_id`,
            </if>
            <if test='reason != null'>
                `reason`,
            </if>
            <if test='flag != null'>
                `flag`,
            </if>
            <if test='receipt != null'>
                `receipt`,
            </if>
            <if test='processed != null'>
                `processed`,
            </if>
            <if test='created != null'>
                `created`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test='id != null'>
                #{id},
            </if>
            <if test='ticket != null'>
                #{ticket},
            </if>
            <if test='type != null'>
                #{type},
            </if>
            <if test='informant != null'>
                #{informant},
            </if>
            <if test='reported != null'>
                #{reported},
            </if>
            <if test='article_id != null'>
                #{article_id},
            </if>
            <if test='reason != null'>
                #{reason},
            </if>
            <if test='flag != null'>
                #{flag},
            </if>
            <if test='receipt != null'>
                #{receipt},
            </if>
            <if test='processed != null'>
                #{processed},
            </if>
            <if test='created != null'>
                #{created}
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.Fanbbs.entity.Report">
        UPDATE ${prefix}_report
        <set>
            <if test='type != null'>`type` = #{type},</if>
            <if test='informant != null'>`informant` = #{informant},</if>
            <if test='reported != null'>`reported` = #{reported},</if>
            <if test='article_id != null'>`article_id` = #{article_id},</if>
            <if test='reason != null'>`reason` = #{reason},</if>
            <if test='flag != null'>`flag` = #{flag},</if>
            <if test='receipt != null'>`receipt` = #{receipt},</if>
            <if test='processed != null'>`processed` = #{processed}</if>
        </set>
        WHERE `id` = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM ${prefix}_report
        WHERE `id` = #{key}
    </delete>

    <!-- 主键查询 -->
    <select id="selectByKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_report
        WHERE `id` = #{key}
    </select>

    <!-- 条件查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_report
        <where>
            <if test='id != null'>
                and `id` = #{id}
            </if>
            <if test='type != null'>
                and `type` = #{type}
            </if>
            <if test='informant != null'>
                and `informant` = #{informant}
            </if>
            <if test='reported != null'>
                and `reported` = #{reported}
            </if>
            <if test='article_id != null'>
                and `article_id` = #{article_id}
            </if>
            <if test='reason != null'>
                and `reason` = #{reason}
            </if>
            <if test='flag != null'>
                and `flag` = #{flag}
            </if>
            <if test='receipt != null'>
                and `receipt` = #{receipt}
            </if>
            <if test='processed != null'>
                and `processed` = #{processed}
            </if>
            <if test='created != null'>
                and `created` = #{created}
            </if>
        </where>
    </select>

    <!-- 分页条件查询 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ${prefix}_report
        <where>
            <if test='report.id != null'>
                and `id` = #{report.id}
            </if>
            <if test='report.type != null'>
                and `type` = #{report.type}
            </if>
            <if test='report.informant != null'>
                and `informant` = #{report.informant}
            </if>
            <if test='report.reported != null'>
                and `reported` = #{report.reported}
            </if>
            <if test='report.article_id != null'>
                and `article_id` = #{report.article_id}
            </if>
            <if test='report.reason != null'>
                and `reason` = #{report.reason}
            </if>
            <if test='report.flag != null'>
                and `flag` = #{report.flag}
            </if>
            <if test='report.receipt != null'>
                and `receipt` = #{report.receipt}
            </if>
            <if test='report.processed != null'>
                and `processed` = #{report.processed}
            </if>
            <if test='report.created != null'>
                and `created` = #{report.created}
            </if>
            <if test='null != searchKey'>
                and CONCAT(IFNULL(`ticket`, '')) LIKE CONCAT('%', #{searchKey}, '%')
            </if>
        </where>
        <if test='"" != order'>
            order by ${order}
        </if>
        LIMIT #{page,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!-- 总量查询 -->
    <select id="total" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ${prefix}_report
        <where>
            <if test='id != null'>
                and `id` = #{id}
            </if>
            <if test='type != null'>
                and `type` = #{type}
            </if>
            <if test='informant != null'>
                and `informant` = #{informant}
            </if>
            <if test='reported != null'>
                and `reported` = #{reported}
            </if>
            <if test='article_id != null'>
                and `article_id` = #{article_id}
            </if>
            <if test='reason != null'>
                and `reason` = #{reason}
            </if>
            <if test='flag != null'>
                and `flag` = #{flag}
            </if>
            <if test='receipt != null'>
                and `receipt` = #{receipt}
            </if>
            <if test='processed != null'>
                and `processed` = #{processed}
            </if>
        </where>
    </select>

</mapper>
